@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{
    max-width: 100%;
    box-sizing: border-box;
}

:root{
    --slider-padding: 0.5rem;
    --movie-per-slider: 3;
}

@media (min-width: 640px){
    :root{
        --slider-padding: 2.5rem;
    }
}

.movie-container{
    display:flex;
    justify-content: center;
    overflow: hidden;

}

.movie-slider{
    --transform:null;
    display:flex;
    width: calc(100% - 2 * var(--slider-padding));
    /* transform: translateX(calc(var(--slider-index) * -100%)); */
    transform: translateX(calc(var(--transform) * -1%));

}

.movie-slider.do-transition {
    transition: transform 500ms ease-out;
}

.movie-slider.no-transition {
    transition: none;
}

.movie{
    flex: 0 0 calc(100% / var(--movie-per-slider));
    min-width: 0;
    object-fit:cover;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.not-visible{
    visibility: hidden;
}

.movie-list-start-margin{
    width: var(--slider-padding);
    margin: 0.25rem 0.25rem 0.25rem 0;
}

.handle{
    width: var(--slider-padding);
    background-color: black;
    z-index: 10;
    opacity: 0.6;
    cursor: pointer;
    border-radius: 0.5rem;

    color:white;
    font-size:2rem;
}

.left-handle{
    margin: 0.25rem 0.25rem 0.25rem 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-handle{
    margin: 0.25rem 0 0.25rem  0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.handle:hover{
    opacity: 0.7;
    font-size: 2.25rem;
}

@media (min-width: 640px) {
    :root{
        --movie-per-slider: 4;
    }

}

@media (min-width: 768px) {
    :root {
        --movie-per-slider: 5;
    }

}
@media (min-width: 1024px) {
    :root {
        --movie-per-slider: 8;
    }

}

.movie-list-header{
    display: flex;
    justify-content: space-between;
    margin: 0 calc(var(--slider-padding) + 0.5rem);
}
.title{

}

.progress-bar{
    display: flex;
    align-items: center;
    gap: 0.25rem;

}
.progress{
    width:1rem;
    height: 0.15rem;
    background-color: gray;

}

/*gptMovieSuggestions styles below*/

.gpt-whole-movie-container {
    padding: 1rem 3rem ;
    display: flex;
    gap: 1rem;
}
.gpt-movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: stretch;

}
.gpt-movies {
    width: 10rem;
    aspect-ratio: 0.7;
    object-fit: cover;
    border-radius: 0.5rem;
}

.shimmer {
    position: relative;
    overflow: hidden;
    background-color: gray;
    /* base color */
}

.shimmer::before {
    content: "";
    position: absolute;
    left: -150%;
    height: 100%;
    width: 150%;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.6),
            transparent);
    animation: shine 2s infinite;
}

@keyframes shine {
    100% {
        left: 150%;
    }
}

.rotate{
    animation: rotate 1s linear infinite;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}